aj_output_file=test.xls
aj_output_options=--ignore-length=on
aj_jira_server=csjira.cs.usm.maine.edu
aj_filter_id=jira123456
aj_temp_max=1000
aj_user_name=phuong
aj_pass_word=phuongpassword
aj_jira_url="http://{1}/sr/jira.issueviews:searchrequest-fields/{2}/SearchRequest-{2}.xls?tempMax={3}&os_username={4}&os_password={5}"
