aj_output_file=SearchResult.xls
aj_pre_url=--no-check-certificate
aj_jira_server=csjira.cs.usm.maine.edu
aj_post_url=&tempMax=20000&os_authType=basic
aj_jira_url=http://{1}/sr/jira.issueviews:searchrequest-excel-all-fields/temp/SearchRequest.xls?jqlQuery={2}{3}h
aj_jira_jql_key=project%20%3D%20{100}
aj_jira_jql_key=status%20%3D%20{200}
aj_jira_jql_key={300}%20%3E%20-
aj_jira_jql_value_100=TCN
aj_jira_jql_value_200=%22Notification%20Submitted%22
aj_jira_jql_value_300=%22Test%20Released%20at%22
